/* custom.css */

h1, h2, h3, h4, h5, h6 {
    color: #4051b5 !important; 
}

article {
    text-align: justify;
}

figcaption, tiny {
    font-size: 0.9em; 
}

.license::before {
    content: "\A"; 
    white-space: pre; 
}

.license, .tiny {
    font-size: 0.8em; 
    color: gray;      
}

.md-typeset__table {
    margin: 0 auto; 
    display: table; 
}

table {
    margin-left: auto !important;
    margin-right: auto !important;
}

th, td {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

table td:nth-child(3) {
    white-space: normal; 
    word-wrap: break-word; 
    word-break: break-word; 
    overflow-wrap: break-word; 
}

.figure-half {
    width: 50% !important;         /* Establece el ancho al 50% */
}
