
@media print {

    li {
         margin-left: 1.25em !important;
    }

    ol {
        margin-left: 2.5em !important;
    }


     article {
       visibility: visible !important; 
       font-family: Arial, sans-serif !important;
    }

    figure {
        margin: 0;       
        margin-left: 0;  
        padding-left: 10px;
    }

    .task-list-indicator::before {
       transform: translateX(-12px);
    }

    .admonition > .admonition-title::before {
       transform: translateX(-26px);
       font-size: 1.76em;
    }

    .admonition details summary::before {
       transform: translateX(-26px);
       font-size: 1.76em;
    }

    @page {
        @top-left {
            content: element(footer);
            font-family: Arial, sans-serif; 
        }

        @top-center {
            content: element(footer);
            font-family: Arial, sans-serif; 
        }

        @top-right {
            content: element(footer);
            font-family: Arial, sans-serif;
        }

        @bottom-left {
            content: element(footer);
            font-family: Arial, sans-serif; 
        }

        @bottom-center {
            content: element(footer);
            font-family: Arial, sans-serif; 
        }

        @bottom-right {
            content: element(footer);
            font-family: Arial, sans-serif;
        } 

}

