body {
  background: #FFF;
  width: 99%;
  font-size: 24px;
}
h1,h3,.label,.labelmini {
  color:#0F18A0;
}
.label,.labelmini{
  font-weight: bold;
  clear: both;
}
.labelmini{
  font-size:12px;
  clear: both;
}
a:link {
  color:#0F18A0;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: green;
  text-decoration: none;
}
a:hover {
  color: #A50130;
  text-decoration: none;
}
div.indent {
  margin-top:20px;
  clear: both;
}
div.minindent {
  margin-top:5px;
}
div.infindent {
  margin-top:-15px;
}
div.explication {
  width: 700px;
  margin: 0 auto;
}
div.pagebreak {
  page-break-before: always;
}
h1, #autocentrado, .nota {
  width:100%;
  margin:0 auto;
}
#autocentradolongo {
  width:110%;
  margin:0 auto;
}
.nome {
  color:#0F18A0;
}
.contido, .contidoleft {
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  margin: 0 auto;
}
.contido {
  clear: both;
}
.contidoleft {
  width: 260px;
  float: left;
}
.subcontido, .subcontidolongo, .codesubcontido, .codesubcontidolongo, .codesubcontidolongomarginleft {
  width:300px;
  margin: 0 auto;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background-color:#dddddd;
}
.codesubcontido{
  width:600px;
  border-radius: 25px;
  padding: 5px;
}
.codesubcontidolongo, .codesubcontidolongomarginleft, .subcontidolongo{
  width:700px;
  border-radius: 25px;
  padding: 5px;
  font-size: 12px;
}
.codesubcontidolongomarginleft {
  margin-left:-20px;
  width:720px;
}
.subcontidolongo{
  font-size: 16px;
}
.fleft, .fleftfs {
  float: left;
}
.fleftfs {
  font-size: 14px;
}
.fright {
  float:right;
}
.fright {
  float:right;
}
.command, .socommand {
  border-radius: 25px;
  background: #73AD21;
  padding: 5px; 
}
.builtin {
  background-color: red;
  border-radius: 25px;
  padding: 5px; 
  max-width:60px;
}
.socommand{
  max-width:82px;
}
.abaixo{
  padding-top: 5px;
}
.arriba{
  margin-bottom: -20px;
}
ul.dashed, ul.hashtag, ul.SRCD, ul.hashtag-ubuntu, ul.hashtag-debian, ul.dashed-ubuntu, ul.dashed-debian {
  list-style-type:none;
}
ul.dashed > li:before {
  content: "$ ";
}
ul.dashed-ubuntu > li:before {
  content: "alumno@ubuntu-server:~$ ";
}
ul.dashed-debian > li:before {
  content: "user@debian:~$ ";
}
ul.hashtag > li:before {
  content: "# ";
}
ul.hashtag-ubuntu > li:before {
  content: "root@ubuntu-server:~# ";
}
ul.hashtag-debian > li:before {
  content: "root@debian:~# ";
}
ul.SRCD > li:before {
  content: "% ";
}
ul.CMD > li:before {
  content: '> ';
}
.mtop{
  margin-top:5px;
}
.mleft{
  margin-left:20px;
}
.mbottom{
  margin-bottom:20px;
}
li.colorblue{
  list-style-type: square;
  color:#0F18A0;
}
.negro {
  background-color: black;
}
.shellptsquestion, .shellpts {
  background-color:black;
  color:white;
}
.shellptsquestion{
  font-weight:bold;
}
figure {
  border: 1px blue dashed;
  max-width: 100%;
  font-weight: bold;
}
figure li .nome {
  font-weight: bold;
}
.cfigure {
  border: none;
}
.bfigure {
  border: 1px blue dashed;
}
.nota {
border: 1px blue dashed;
background-color:#dfffff;
}
ol div {
  margin-left: -10px;
  margin-right:10px;
}
div.imgccbysa img{
  border-width:0;
}
.w80 {
width:96%;
}
